

<h1>投稿一覧</h1>
<div  class="border border-primary">
  <h5>
    利用方法
  </h5>
  <p>PCデスクの写真を投稿、シェア出来るWebアプリです。</p>
  <p>投稿はログイン後行う事が出来ます。</p>
  <p>タグをクリックする事で同じタグが登録されている投稿のみを表示出来ます。</p>
  <p>タグは最低1つ以上、ログインすれば誰でも編集可能になります。</p>
</div>
<div class="row">
    <%= render 'posts/posts', posts: @posts %>
</div>
<div class="row">
    <%= paginate @posts %>
</div>

