<div>
<h1>新規投稿</h1>

<div  class="border border-primary">
  <h5>
    投稿方法
  </h5>
  <p>タイトルは10文字以内で投稿して下さい。</p>
  <p>タグは3つまで同時に追加できます。タグは投稿後に編集可能です。</p>
  <p>タグは一つ以上追加してください。</p>
</div>

<%= render 'form', post: @post, name1: @name1, name2: @name2, name3: @name3%>
</div>