<% if model.errors.any? %>
  <div class="alert alert-warning ">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% unless @em == nil%>
        <li><%= @em %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <% unless @em == nil%>
    <div class="alert alert-warning ">
      <ul>
          <li><%= @em %></li>
      </ul>
    </div>
  <% end %>
<% end %>